* {
  --margin-auto: auto;
  --margin-xs: 5px;
  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 32px;
  --margin-xl: 64px;

  --padding-auto: auto;
  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 32px;
  --padding-xl: 64px;


  --shadow: 0px 2px 10px 0px #00000026;
  --shadow-darker: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
  --effect: 200ms all ease-out;
  --header-height: 6.4rem;
}


